*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;

  // 4px bottom fix
  img {
    vertical-align: middle;
    border-style: none;
  }
}

$navbar-height: 60px;
$container-background: #f8f9fc;

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $container-background;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  animation-duration: 600ms;
  animation-name: slidein;

  .container-nav-bar {
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-img {
    height: $navbar-height - 10px;
  }
}

.news {
  margin: 0 30px;

  .logo-news {
    width: 20px;
    height: 25px;
    fill: #c0c9d8;
  }

  .logo-news:hover {
    cursor: pointer;
    fill: #9da7b1;
  }
}

.user {
  position: relative;

  .user-avatar {
    display: flex;
    align-items: center;
    width: $navbar-height - 20px;
    height: $navbar-height - 20px;
    border-radius: 50%;
    background-color: #eb9d3f;
    color: #fff;
    cursor: pointer;

    .user-initials {
      display: block;
      width: 100%;
      text-align: center;
      font-family: sans-serif;
      font-size: 20px;
    }

    .user-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: $navbar-height - 10px;
      width: 170px;
      padding: 10px 15px;
      background-color: #fff;
      font-family: sans-serif;
      box-shadow: 0 0 15px 0 rgba(36, 36, 36, 0.29);

      .user-name {
        color: #C0C9D8;
        text-align: center;
        font-size: 13px;
      }

      .user-info {
        padding: 5px 0;
        color: #000;
      }

      .user-info:hover {
        background-color: rgba(192, 201, 216, 0.67);
      }
    }

    &:hover {
      background-color: rgb(206, 139, 56);

      .user-menu {
        display: flex;
      }
    }
  }
}

.main-content {
  margin-top: $navbar-height;
  background-color: $container-background;
  flex: 1;
  height: 100%;

  .container-main {
    height: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.content-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
          "card-1 card-1 card-1 card-1 card-3 card-3 card-3 card-3 card-5 card-5 card-5 card-5 card-5 card-5 card-5 card-5"
          "card-1 card-1 card-1 card-1 card-3 card-3 card-3 card-3 card-5 card-5 card-5 card-5 card-5 card-5 card-5 card-5"
          "card-1 card-1 card-1 card-1 card-3 card-3 card-3 card-3 card-5 card-5 card-5 card-5 card-5 card-5 card-5 card-5"
          "card-1 card-1 card-1 card-1 card-3 card-3 card-3 card-3 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7"
          "card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7"
          "card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7"
          "card-2 card-2 card-2 card-2 card-4 card-4 card-4 card-4 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7"
          "card-2 card-2 card-2 card-2 card-4 card-4 card-4 card-4 card-6 card-6 card-6 card-6 card-6 card-7 card-7 card-7";

  .card-1 {
    grid-area: card-1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .card-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);

      .card-button {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #4d99f7;
        text-decoration: none;
        color: #fff;
      }

      .card-button:hover {
        background-color: #1f80ff;
      }
    }

    &:hover .card-inner {
      transform: rotateY(180deg);
    }
  }

  .card-2 {
    grid-area: card-2;
    background-color: #64cb74;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .card-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-size: 100px;
      color: #fff;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .card-text {
      transform: rotateX(180deg);
    }

    &:hover .card-inner {
      transform: rotateX(-180deg);
    }
  }

  .card-3 {
    grid-area: card-3;
    background-color: #ecd04b;

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    .card-cover {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: absolute;
      font-size: 110px;
      padding: 0 10px;
      font-weight: bold;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .card-text {
      transform: rotateY(180deg);
    }

    &:hover .card-inner {
      transform: rotateY(180deg);
    }
  }

  .card-4 {
    grid-area: card-4;
    background-color: #cf3e50;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-cover {
      color: #fff;
      width: 100%;
      font-size: 40px;
      text-align: center;
    }

    .card-text {
      display: flex;
      justify-content: center;
      background-color: #fff;
      font-weight: bold;
      font-size: 20px;
      text-align: justify;
      padding: 20px;

      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.8s ease;
      z-index: -1;
    }

    &:hover .card-text {
      bottom: 0;
      height: 100%;
      z-index: 1;
    }
  }

  .card-5 {
    grid-area: card-5;
    background-color: #8a93bc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .card-cover {
      font-size: 100px;
      font-style: italic;
    }

    .card-text {
      position: absolute;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: 0.8s ease;
      z-index: -1;
    }

    &:hover .card-text {
      opacity: 1;
      z-index: 1;
    }
  }

  .card-6 {
    grid-area: card-6;
    background-color: #5C2773;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .card-cover {
      font-size: 100px;
      color: #fff;
    }

    .card-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
      z-index: -1;
    }

    &:hover .card-text {
      height: 100%;
      z-index: 1;
    }
  }

  .card-7 {
    grid-area: card-7;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .card-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

.mini-card-1 {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #4d99f7;

  .mini-card-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 100%;
  }

  .mini-card-text {
    overflow: scroll;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: -1;
  }
}

.mini-card-2 {
  flex-grow: 2;
  display: flex;
  background-color: #18449d;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .mini-card-cover {
    color: #fff;
  }


  .mini-card-text {
    overflow: scroll;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    height: 0;
    transition: 0.8s ease;
    z-index: -1;
    opacity: 1;
  }


}

.mini-card-3 {
  flex-grow: 1;
  background-color: #09265b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .mini-card-cover {
    color: #fff;
  }

  .mini-card-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    height: 0;
    transition: 0.8s ease;
    z-index: -1;

    .social-media-icon {
      width: 30px;
      height: 30px;
      padding: 3px;
    }

    .social-media-icon:hover {
      fill: #4d99f7;
    }
  }
}

.info-text {
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: baseline;
  padding: 20px;
  font-size: 20px;
  background-color: $container-background;
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  bottom: 20px;
  overflow: hidden;

  .notification {
    width: 250px;
    padding: 15px 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eb9d3f;
    border-radius: 3px;
    opacity: 0.85;
    color: #fff;
    font-family: sans-serif;


    .notification-text {
      margin: 10px;

      .notification-header {
        display: block;
      }
    }

    .icon {
      width: 25px;
      height: 25px;
      fill: #ececec;
      margin: 0 5px;
    }
  }

  .error {
    background-color: #c25449;
  }

  .success {
    background-color: #77ba69;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}



